{% extends "base.html" %}
{% load static %}

{% block content %}
<h2>Recipe List</h2>
<div class="list-group">
    {% for recipe in recipes %}
    <div class="list-group-item list-group-item-action">
        <h2>
            <a href="{% url 'recipe_detail' recipe.id %}">{{ recipe.title }}</a>
        </h2>
        {% if recipe.image %}
        <img src="{{ recipe.image.url }}" alt="{{ recipe.title }}" style="max-width: 200px; margin-top: 10px;"/>
        {% endif %}
        <p><strong>Description:</strong> {{ recipe.description }}</p>
        <p><strong>Ingredients:</strong> {{ recipe.ingredients }}</p>
        {% if recipe.prep_time %}
        <p><strong>Preparation Time:</strong> {{ recipe.prep_time }} minutes</p>
        {% endif %}
    </div>
    {% endfor %}
</div>
{% endblock %}
